*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'WantedSans-Medium';
  src: url(./Fonts/WantedSans-Medium.otf);
}

body{
  font-family: 'WantedSans-Medium';
}

#root{
  display: flex;
}